


<!-- Screen reader announcements -->
<div aria-live="polite" id="announcer" class="sr-only"></div>

<!-- Skip to main content -->
<a href="#main-content" class="to-main-content">Skip to main content</a>

<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg" id="wrapper">

    <div id='map'></div>

    <div class="map-overlay" id="legend"><span class="key_legend" style="background-color:#C22A22;"></span> High-capacity wells online in <span id="year">1939</span> <span id="reload">&#x21bb;</span></div>
    
  </div>
</main>